__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite3

# Ignorer environnements virtuels
.venv/
venv/
ENV/

# Ignorer fichiers système macOS
.DS_Store

# Ignorer fichiers secrets éventuels
.env

node_modules/

test.py
commit_message.txt
config.json

urne.psd
