{% extends "global/Page.html" %}
{% block title %}En attente de votre partenaire{% endblock %}
{% block content %}
<div class="wait-page">
  <div class="wait-page__icon">⟳</div>
  <p class="wait-page__title">En attente de votre partenaire…</p>
  <div class="dots-loader" aria-label="Chargement">
    <span></span><span></span><span></span>
  </div>
  <p class="wait-page__hint">Cette page se mettra à jour automatiquement.<br>L'expérimentateur est disponible si vous avez besoin d'aide.</p>
</div>
{% endblock %}
